<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Min önskelista</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">
        <link href="static/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>Min önskelista</h1>

        <article id="wishes">
            <img src="/static/hat.png" alt="Tomteluva" id="hat"> 
            <img src="/static/santa.png" alt="Jultomte" id="santa">
            <h2>Mina önskningar</h2>
            % for wish in wishes:
                <a href="{{ wish['link'] }}" target="_blank" class="prio-{{ wish['prio'] }}">{{ wish["name"] }} ({{ wish["price"] }})</a>
            % end
            <h2 id="add-wish">Lägg till en önskning</h2>
            <form action="/new-wish" method="post">
                <label for="name">Sak:</label>
                <input type="text" id="name" name="name">
                <label for="price">Pris:</label>
                <input type="number" id="price" name="price">
                <label for="link">Länk:</label>
                <input type="url" id="link" name="link">
                <label for="prio">Prio:</label>
                <select name="prio" id="prio">
                    <option value="1">1 - Högsta prio</option>
                    <option value="2">2 - Medel prio</option>
                    <option value="3">3 - Lägsta prio</option>
                </select>
                <input type="submit" value="Spara önskning">
            </form>
        </article>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/static/jquery.snowfall.js"></script>
        <script>
            $(document).snowfall({
                flakeCount: 100,
                maxSpeed: 5,
                collection: "#wishes"
            });

            $("form").hide();
            $("#add-wish").on("click", function() {
                $("form").slideToggle();
            });
        </script>
    </body>
</html>